*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0.5rem 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #b398cd;
  
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #abb7d3;
}
::-webkit-scrollbar-thumb {
  background-color: #b727d7;
}

